*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.nox/
.pytest_cache/
htmlcov

# Translations
*.mo

# Pycharm/Intellij
.idea

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# SQLite
db.sqlite3

# Virtual environments
.venv/

# Ruff
.ruff_cache/
